@import "tailwindcss";



@theme {
    --color-white: hsl(0, 100%, 100%);
    --color-purple-100:hsl(275, 100%, 97%);
    --color-purple-600: hsl(292, 16%, 49%);
    --color-purple-950:hsl(292, 42%, 14%);

    --font-primary:'Work Sans',sans-serif;
    --font-size-primary:16px;
}

@font-face {
    font-family: "Work Sans";
    src: url(/assets/fonts/static/WorkSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display:swap
}

@font-face {
    font-family:"Work Sans";
    src: url(/assets/fonts/static/WorkSans-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
    font-display:swap
}


@font-face {
    font-family:"Work Sans";
    src: url(/assets/fonts/static/WorkSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display:swap
}

@layer base{
    body {
        font-family: var(--font-primary);
        font-size:var(--font-size-primary);
    }
    span{
        font-weight: 700;
        color:var(--color-purple-950)
    }
    p{
        color: var(--color-purple-600);
    }


    hr{
        color:var(--color-purple-100)
    }
}

@layer components{
    
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.icon-img{
    float:right
}


}



