:root{
    --color-stale-900:hsl(218, 44%, 22%);
    --color-stale-500: hsl(216, 15%, 48%);
    --color-stale-300:hsl(212, 45%, 89%);
    --color-white: hsl(0, 0%, 100%);
    --default-font-family: "Outfit", sans-serif;

}
body{
    font-family: var(--default-font-family);
}
